:root {
    font-size: 62.5%;
    --fonte: #000000;
    --fundo: #f1f1f1;
    --azull: #10aac4;
    --la_1: #c44110;
    --detalhe: #c46110;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    color: var(--fonte);
    background-color: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    gap: 20px;
    width: 100%;
    z-index: 12;
    height: 64px;
    display: flex;
    position: fixed;
    align-items: center;
    align-items: center;
    background: var(--azull);
}

.prenxe {
    height: 64px;
}

.logo {
    margin-left: 10%;
}

.logo h1 {
    font-family: cursive;
    color: var(--detalhe);
}

nav {
    margin-left: 13%;
}

nav ul {
    gap: 20px;
    display: flex;
    list-style-type: none;
}

nav ul a {
    color: var(--fonte);
    text-decoration: none;
}

.seta_baixo {
    top: 24.8%;
    left: 71.5%;
    position: absolute;
    margin-left: 15px;
}

.seta_sima {
    top: -5%;
    left: 71.5%;
    display: none;
    margin-left: 8px;
    position: absolute;

}

.subLista:hover .seta_sima {
    display: block;
}

.subLista:hover .seta_baixo {
    display: none;
}

.space {
    margin-left: 8px;
}

.subLista {
    position: relative;
}

.listaEsco {
    left: 0;
    top: 100%;
    display: none;
    height: 240px;
    position: absolute;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--azull);
}

.subLista:hover .listaEsco {
    display: flex;

}

.listaEsco li a {
    padding-left: 10px;
    margin-right: 100px;

}

.listaEsco li {
    padding-block: 2px;
}

.listaEsco li:hover {
    background-color: var(--detalhe);
}

.inputbuscar {
    left: 35%;
    top: 35%;
    position: absolute;
}

.inputbuscar input {
    width: 300px;
    outline: none;
    padding: 10px 0px 5px 5px;
    border: 2px solid var(--la_1);
    background-color: #ffffff8c;
    border-radius: 5px 0px 0px 5px;
}

.inputbuscar input::placeholder {
    font-size: 1.5rem;
}

.inputbuscar label img {
    left: 100%;
    bottom: 2.5%;
    cursor: pointer;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--la_1);
}

.img-pri {
    width: 100%;
    height: 700px;
}

.circ:hover {
    border-radius: 50%;
    background-color: var(--la_1);
}

.sessão_space {
    margin-top: 70px;
    margin-inline: 5%;
}

.content-card {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background-color: #c44110;
}

.img_gir{
    left: 150px;
    top: 80px;
    position:relative;

}

.card_text {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.button-verMais {
    display: flex;
    border-radius: 5px;
    padding-inline: 5px;
    align-items: center;
    border: 1px solid black;
}

.button-verMais a {
    font-size: 1.5rem;
    color: var(--fonte);
    text-decoration: none;
}

.button-verMais img {
    top: 3px;
    margin-left: 5px;
    position: relative;
}
